.playerList1{
  width: 200px;
  height: 400px;
  padding: 10px;
  display: inline-block;
}
.playerList2{
  width: 200px;
  height: 400px;
  padding: 10px;
  display: inline-block;
}
.gameBoard{
  background-color: lightgray;
  border: 4px solid gray;
  width: 800px;
  height: 800px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.setCard{
  width: 100%;
  height: 100%;
}
.card66Div{
  border: 1px solid black;
  width: 120px;
  height: 120px;
  display: inline-block;
}
.card55Div{
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: inline-block;
}
.card44Div{
  background-color: burlywood;
  border: 1px solid black;
  width: 180px;
  height: 180px;
  display: inline-block;
}
.selectedUser{
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
  border: linear-gradient(90deg, red 50%, transparent 50%) 0 0 / 12px 3px repeat-x,
              linear-gradient(90deg, red 50%, transparent 50%) 0 100% / 12px 3px repeat-x,
              linear-gradient(0, red 50%, transparent 50%) 0 0 / 3px 12px repeat-y,
              linear-gradient(0, red 50%, transparent 50%) 100% 0 / 3px 12px repeat-y
              color(srgb 255 160 122);

  outline: none;
  animation: linearGradientMove 0.2s infinite;
}
.player1Div{
  background-color: lightsalmon;
  border: 5px solid indianred;
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
}
.player1Div#turn{
  background-color: indianred;
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
}
.player2Div{
  background-color: lightgreen;
  border: 5px solid olivedrab;
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
}
.player2Div#turn{
  background-color: olivedrab;
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
}
.player3Div{
  background-color: lightskyblue;
  border: 5px solid cornflowerblue;
  /* background-color: aqua; */
  width: 200px;
  height: 195px;
}
.player3Div#turn{
  background-color: cornflowerblue;
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
}
.player4Div{
  background-color: palegoldenrod;
  border: 5px solid tan;
  width: 200px;
  height: 195px;
}
.player4Div#turn{
  background-color: tan;
  width: 200px;
  height: 195px;
  margin-bottom: 10px;
}
.playerInfo{
  /* border: 1px solid black; */
  text-align: center;
  width: 200px;
}
td{
  border: 1px solid black;
}
[class$="NicknameTd"]{
  width: 70%;
}
[class$="FlipcardCountTd"]{
  width: 20%;
}